html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Roboto', sans-serif;
  margin-bottom: 60px;
}

body > .container {
  margin-top: 20px;
}

body > .navbar {
  background: #226BB4;
  border: 0;
  padding-top: 20px;
}

img.logo {
  height: 30px;
  width: 100px;
}

.question {
  font-size: 1.6em;
  margin-bottom: 1em;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 2em;
  padding-left: 0;
}

.btn {
  border-radius: 0;
}

.btn.yes,
.btn.no {
  padding-top: 1em;
  padding-bottom: 1em;
}

.btn.again {
  margin-top: 1.4em;
}

.btn-primary {
  background: #226BB4;
}

.no-border {
  border: 0;
}

.top {
  height: 240px;
}

.form-control {
  border-radius: 0;
}

.well {
  border-radius: 0;
}

.range-input span {
  margin-top: 6px;
}

.range-input .value {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer.normal {
  background-color: #3F9537;
}

footer.warning {
  background-color: #F8B525;
}

footer.danger {
  background-color: #D1232A;
}

footer .status {
  color: #fff;
  font-size: 2em;
  margin-top: 0.3em;
}

footer p img {
  margin-right: 0.4em;
  margin-top: -0.3em;
  height: 22px;
  width: 22px;
}
